@import 'antd/dist/antd.css';

.bx {
    text-align: center;
}
.bx-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    color: #ffffffb4;
}
